<section class="categories-section spad">
  <div class="container">
    <div class="section-title">
      <h2><%= t ".list" %><%= @branch.name %></h2>
    </div>
    <div class="row", id="vehicles">
      <%= render @vehicles %>
    </div>
    <div id="pagination">
      <%= paginate @vehicles, remote: true, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</section>
