$gray: #313342;
$gray-lite: #b2b1b1;
$blue-lite: #19dafa;
$pink: #fd00da;
$white: #fff;
$gray-white: #919191;
$p_color: #9da094;
$green_lite: #22a808;
$black: black;
$white-blue: rgb(234, 234, 245);
$orange: orange;
$pink: rgb(216, 42, 78);
$dark-lite: #212529b8;
$gray-blur: #6c757d;
$blue: #0062cc;
$LATO: 'Lato', sans-serif;
$GREY: #CCC;
$WHITE: #FFF;
$SUBTLE_GREY: #F2F2F2;
$MURKY_GREY: #384148;
$DARK_GREY: #333;
$SUBTLE_WHITE: #F9F9F9;
$BLUE: #6495ED;
$RED: #FF6347;
$BACKGROUND_GREY: #384148;
